<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmput301.bstang.bstang_reflex" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SinglePlayer"
            android:label="@string/title_activity_single_player" >
        </activity>
        <activity
            android:name=".NumPlayers"
            android:label="@string/title_activity_num_players" >
        </activity>
        <activity
            android:name=".TwoPlayer"
            android:label="@string/title_activity_two_player" >
        </activity>
        <activity
            android:name=".ThreePlayer"
            android:label="@string/title_activity_three_player" >
        </activity>
        <activity
            android:name=".FourPlayer"
            android:label="@string/title_activity_four_player" >
        </activity>
        <activity
            android:name=".StatisticsView"
            android:label="@string/title_activity_statistics_view" >
        </activity>
        <activity
            android:name=".SingleStats"
            android:label="@string/title_activity_single_stats" >
        </activity>
        <activity
            android:name=".MultiStats"
            android:label="@string/title_activity_multi_stats" >
        </activity>
        <activity
            android:name=".TwoStats"
            android:label="@string/title_activity_two_stats" >
        </activity>
        <activity
            android:name=".ThreeStats"
            android:label="@string/title_activity_three_stats" >
        </activity>
        <activity
            android:name=".FourStats"
            android:label="@string/title_activity_four_stats" >
        </activity>
    </application>

</manifest>
